<div class="article" *ngIf="article">
  <!-- <article *ngFor="let article of articles"> -->
  <h1>{{ article.title }}</h1>
  <p>{{ article.author }}</p>
  <p>{{ article.summary }}</p>
  <!-- <p>{{ article.content }}</p> -->
</div>