header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: sticky;
    top: 0;
    background: #1b2022;;
    box-shadow: 0 0 16px rgba(black, 0.08);
    font-size: 2em;
  }
  

  a{
      text-decoration: none;
      color: white;
      cursor: pointer;
      margin: 0.5em;
  }

  input {

    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    height: 40px;
    width: 300px;
    left: 449px;
    top: 12px;
    border-radius: 8px;
    color: #FFF;

  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

  }
  button {
    color: #FFF;
    margin-left:1em;
    background: linear-gradient(85.93deg, #fab46e 0%, #f15a50 100%);
    padding: 12px 16px;
    border-radius: 2rem;
    cursor: pointer;
  }

  .active {
    font-weight: 700;
    text-decoration: underline ;

  }
  