<header>
    <div>
        <a routerLink="/" routerLinkActive="active" 
        [routerLinkActiveOptions]={exact:true}>Accueil</a>
        
        <a *ngIf=!authentService.isLogged() [routerLink]="['/user']" >S'inscrire</a>
    </div>
    <div>
        <form (keyup)="onKeyupSearch()">
            <input placeholder="Rechercher un article..." name="search" [(ngModel)]="search">
            <button>Rechercher</button>
        </form>
    </div>
    <div>
        <nav>
            <ul>
                <li>
                    <a *ngIf=!authentService.isLogged() [routerLink]="['/login']">Connexion</a>
                </li>
                <li>
                    <a *ngIf=authentService.isLogged() (click)="authentService.logout()">Deconnexion</a>
                </li>
            </ul>
        </nav>
    </div>
</header>