<section>
    <div class="section-container">
        <h1>Modifier un article</h1>

        <form id="editarticle" (ngSubmit)="onSubmitEditArticle()" ngNativeValidate>
            <div class="edit-article"><label for="title">Titre</label><input type="text" name="title"
                    [(ngModel)]="title" required>
            </div>
            <div class="edit-article"><label for="summary">Extrait</label><input type="text"
                    name="summary" [(ngModel)]="summary" required></div>
            <div class="edit-article"><label for="content">Contenu</label><textarea rows="15"
                    name="content" [(ngModel)]="content" required></textarea></div>
            <div class="edit-article">
                <button class = "btn__editpage">Ajouter l'article</button>
            </div>
        </form>
    </div>
</section>