<h1>Articles du blog</h1>
<!-- <button [routerLink]="['/login']" class = "btn__homepage">Login</button> -->
<button *ngIf = "authentService.isLogged()" [routerLink]="['/article']" class = "btn__homepage">Ajouter un article</button>
<section *ngIf="articleService.articles.length">
  <div *ngFor="let article of articleService.articles">
      <app-article [article]="article" [routerLink]="['article', article.id]"></app-article>
  </div>
</section>

<!-- <button class = "createbutton" type = "button" (click)="createArticle()">Create</button>
 <button class = "fetcharticle" type = "button" (click)="fetchArticles()">Liste complète</button>
<form action="">
  <div>
  <label for="id">Entrez id</label>
  <input type="text">
</div>
 <input type="submit" (click)="deleteArticle()" value="delete"> 
</form>
<ng-container *ngIf="article.length">
<div class="card" *ngFor=" let article of articles">
  <div class="container" *ngIf = "article">
      <h3>{{article.title}}</h3>
      <p class="summary">{{article.summary}}</p>
      <p class="content">{{article.content}}</p>
      <input type="submit" (click)="deleteArticle(article.id)" value="delete">
  </div>
</div>
</ng-container> -->
