<section>
    <div class="section-container">
        <div class="back">
            <a routerLink="">
                Retour
            </a>
        </div>
        <h1>Créer un article</h1>

        <form id="createarticle" (ngSubmit)="onSubmitCreateArticle()" ngNativeValidate>
            <div class="create-article"><label for="title">Titre</label><input type="text" name="title"
                    [(ngModel)]="article.title" required>
            </div>
            <div class="create-article"><label for="author">Auteur</label><input type="text"
                    name="author" [(ngModel)]="article.author" required></div>
            <div class="create-article"><label for="summary">Extrait</label><input type="text"
                    name="summary" [(ngModel)]="article.summary" required></div>
            <div class="create-article"><label for="content">Contenu</label><textarea rows="15"
                    name="content" [(ngModel)]="article.content" required></textarea></div>
            <div class="create-article">
                <button>Ajouter l'article</button>
            </div>
        </form>
    </div>

</section>

