section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

* {
    color: #fff;
}

.section-container {
    width: 20%;
}

form div {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 1.5rem;

    label {
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.5em;
    }

    input {
        height: 2rem;
    }

    input,
    textarea {
        background: rgba(255, 255, 255, 0.08);
        border: none;
        border-radius: 0.5rem;
        padding-left: 0.5rem;
    }

    textarea {
        resize: none;
    }

    button {
        background: linear-gradient(85.93deg, #FAB46E 0%, #F15A50 100%);
        width: 160px;
        margin-right: 10px;
        height: 40px;
        left: 1120px;
        top: 172px;
        border-radius: 32px;
        cursor: pointer;
     }
}