<section>
<div class="section-container">
<form class="form-group" (ngSubmit)="onSubmitLoggin()" ngNativeValidate>
      <div >
        <label for="username">Username</label>
        <input type="text" name="username" [(ngModel)]= "username" required/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]= "password" required/>
      </div>
      <div class="form-group">
        <button type = "submit" class="btn btn-primary btn-block">
          Login
        </button>
      </div>
</form>
</div>
</section>

