/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 0.625em;
}

body,
html {
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100%;
    height: 100%;
    background: #1b2022;
}