section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

* {
    color: #fff;
}

// h1 {
//     font-size: 36px;
//     font-weight: 700;
// }

.form-group {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 0.5rem;
    padding: 0.5em;
}

.section-container {
    width: 40%;
    
    
}

form div {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 1.5rem;

    label {
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;
    }

}

button {
    color: #000;
    background: linear-gradient(85.93deg, #fab46e 0%, #f15a50 100%);
    padding: 12px 16px;
    border-radius: 2rem;
    cursor: pointer;
    // margin-left: 100px;
}

