<section>
    <div class="section-container">
        <div *ngIf="articleService.article">
            <div class="form-group">
                <h1>{{articleService.article.title}}</h1>
                <p>{{articleService.article.author}}</p>
                <p>{{articleService.article.summary}}</p>
                <p>{{articleService.article.content}}</p>
            </div>
            <div>
                <button *ngIf = "authentService.isLogged()" [routerLink]="['/edit', articleService.article.id]">Modifier</button>
                <button *ngIf = "authentService.isLogged()" (click)="clickOnDeleteButton()">Supprimer</button>
            </div>
        </div>
    </div>
</section>